@import url(http://fonts.googleapis.com/css?family=Orbitron);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,800);


main {
margin:2%;
}

main h1 {
background-color:blue;
color:white;
font-size:3.2em;
}

h2 {
color:gray;
margin:4%;
font-size:1.8em;
}

.imgCointainer{
	text-align: center;
}

#image1 , #image2 , #image3, #image5, #image6, #image7  {
	margin-top:25px;
	margin-bottom:25px;
	margin-left:auto;
	margin-right:auto;
	width:533px;
	height:400px;
}

#image4{
	margin-top:25px;
	margin-bottom:25px;
	margin-left:auto;
	margin-right:auto;
	width:533px;

}



/*Fin cambios guillermo */


.imageHeader{
	width: 50px;
	height: 50px;
}

.soft{
	text-shadow: 0 0 1px rgba(255,255,255,0.5);
}

.centered{
	text-align: center;
}

.titleChat{
	font-size: 42px !important;
	margin-top: 30px;
	display: inline-block;
}


.toolbarTitle{
	font-family: 'Orbitron', sans-serif;	
	font-size: 25px;
	color: white;
	text-shadow: 1px 0px 9px rgba(150, 150, 150, 1);
}

.md-button.active{
	color: white !important;
	background-color: rgba(255,255,255,0.2) !important;
}

.md-button.white{
	color: rgba(255,255,255,0.9) !important;
}

.chatForm{
	margin-left: auto;
	margin-right: auto;
	width: 650px;
	height: 58px;
	background-color: #8C8C8C;

	display: inline-block;
}

.chatInput{
	margin-left: -25px;
	background-color: white;
	border: none;
	padding-left: 10px;
	width: 520px;
	height: 35px;
	margin-top: -255px;
}
.chatButton{
	float: right;
	margin-top: -6px;
}

.thebox{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 350px;
	width: 650px;
	color: white;
	padding: 20px 20px 0px 20px;
	background-color: #474747;
	overflow-y: none
}

.listPeople{
	background-color: #474747 !important;
	width: 150px;
	height: 330px;
	max-height: 330px;
	float: right;
	position: absolute;
	display: inline-block;
	margin-left: 15px;
	padding: 10px 10px 10px 10px;
}
.listPeopleTitle{
	color: white;
	font-size: 14px;
	font-style: italic;
}

#people{
	 list-style-type: none; margin: 0; padding: 0; overflow: auto; max-height: 330px; position: absolute;
	 color: orange;
}

#people li{
	padding-top: 2px;
	text-align: left;
}
#msgs { list-style-type: none; margin: 0; padding: 0; width:  620px; overflow: auto; max-height: 330px; position: absolute; bottom: 10px}
#msgs li { text-align: left; padding: 5px 10px; min-height:35px; margin-right: 10px; word-break: break-all }
#msgs li:nth-child(odd) { background: #7D7D7D; }

.usersButton{
	font-size: 12px !important;
	top: -8px;
	margin-left: 5px;
}

.other{
	display: inline-block;
}

.nSection{
	font-size: 20px;
	margin-top: 20px;
	display: block;
	text-decoration: underline;
	color: gray;
}

#protocolo{
	margin-top: 125px;
	background-color: #FF9800;
	padding: 50px;
	color: white;
	font-family: 'Open Sans', sans-serif;	
	text-align: justify;
}

#ejemplo{
	background-color: #009DCC;
	padding: 50px;
	color: white;
	font-family: 'Open Sans', sans-serif;	
	text-align: justify;

}

#algoritmo{
	background-color: #8700CC;
	padding: 50px;
	color: white;
	font-family: 'Open Sans', sans-serif;	
	text-align: justify;
}

#nosotros{
	background-color: #FF9800;
	padding: 50px;
	color: white;
	font-family: 'Open Sans', sans-serif;	
	text-align: justify;
}

#protocolo h1, h2{
	text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
	color: white;
	font-family: 'Merriweather Sans', sans-serif;
}

#subtitulo{
	margin-top: -25px;
	font-style: italic;
}

.hand{
	margin-top: 30px;
	font-size: 45px;
	color: white!important;
}

#nosotros a{
	color: white;
	font-weight: 600;
}

.contactinfo {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.contactinfo figure {
	display: inline-block;
	text-align: left;
}

.contactimage{
	width: 180px;
	height: 180px;
	margin-bottom: 10px;
}